<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blog</title>
</head>

<body>
  <div class="container">
    <h1 class="mb-4">Blog Articles</h1>
    <a href="/" class="btn btn-secondary">logout</a>

    <% articles.forEach(article => { %>
    <div class="card mt-4">
      <div class="card-body">
        <h4 class="card-title"><%= article.title %></h4>
        <div class="card-subtitle text-muted mb-2">
          <%= article.createdAt.toLocaleDateString() %>
        </div>
        <div class="card-text mb-2"><%= article.description %></div>

        <div class="row">
          <div class="col-3">
            <form action="/articles/<%= article.id %>/like" method="POST" class="d-inline">
              <button onclick="done" type="submit" class="btn btn-lg btn-outline-primary"> Likes : <%= article.likes %>
              </button>
            </form>
          </div>

          <div class="col-9">
            <form action="/articles/<%= article.id %>/comment" method="POST" class="d-inline">

              <input type="text" id="comments" placeholder="write your comments" name='comments' required
                class="form-control form-control-lg">
              <br>
              <div class="row">
                <div class="col-4">
                  <button type="submit" class="btn btn-lg btn-outline-success" required>post comments</button>
            </form>
          </div>
          <div class="col-8">
            <h5 style="color:rgba(211, 58, 211, 0.836);">
              <table>
                <% for(var i=0; i < (article.comment).length; i++) { %>
                <tr>
                  <td><%= article.comment[i] %></td>
                </tr>
                <% } %>
              </table>
            </h5>
          </div>
        </div>


      </div>

    </div>



  </div>
  </div>
  <% }) %>
  </div>
</body>

</html>